html {
  overflow-y: scroll;
}

*{
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

body{
    padding: 20px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
}
body a:hover{ 
}

body.fade-out {
    opacity: 0;
    transition: none;
}

body.fade {
    opacity: 0;
    transition: none;
}

.intro{
  background-color: #000;
  color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
}

.intro p{
    display: none;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro a{
    top: 0;
}

.page{
  display: none;
}

.footer{
  bottom: 0px;
  position: relative;
  background-color: #fff;
  top: 100px;
  padding-bottom: 50px;
}
.logo{
  float: left;
  position: relative;
  padding: 25px 0px;
}
.logo a{
  color: #222;
  text-decoration: none;
  transition: all 0.2s ease;
}
.navigation{
  position: fixed;
  background-color: #fff;
  display: inline-block;
  width: 100%;
  height: 75px;
  top: 0;
  z-index: 2;
}
nav {
  margin-top: 0px;
  position: fixed;
  float: right;
  right: 30px;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  right: 0;
}
nav ul li:not(:first-child) {
  margin-left: 25px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: #1f2227;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: none;
}
@media screen and (max-width: 760px) {
    nav ul {
    opacity: 1;
  }
  .nav-container {
    position: fixed;
    bottom: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #fff;
    transition: all 0.4s ease;
  }
  #nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
  bottom: 0;
  }
  .nav-container ul {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.6s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.7s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.8s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #222;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 16px;
    top: 12px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
    -webkit-transition: transform 0.2s;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
    -webkit-transition: transform 0.2s;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
    -webkit-transition: transform 0.2s;
  }
}
  #nav:checked + .nav-open {
    transform: rotate(45deg);
  }
  .nav-open:hover i:nth-child(1) {
  transition: transform 0.2s ease;
  transform: rotate(90deg);
  }
  .nav-open:hover i:nth-child(2) {
  transition: transform 0.2s ease;
  transform: rotate(90deg);
  }
  .nav-open:hover i:nth-child(3) {
  transition: transform 0.2s ease;
  transform: rotate(90deg);
  }

#nav:checked + .nav-open i {
  background: #222;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}

.home-photos-grid {
  margin-top: 300px;
  width: 100%;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  margin-bottom: 0;
  font-size: 0;
  z-index: 1;
}

.home-photos-grid .post-image {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  float: left;
}

.post-image img {
  width: 100%;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

@media only screen and (min-width: 740px) {
  .home-photos-grid {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (max-width: 440px) {
  .footer{
    display: none;
  }

}

.container-grid{
  margin-top: 50px; 
  display: inline-block;"
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #222; 
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #222; 
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #fff;
  margin-left: 2px;
}

.container:hover .overlay {
  opacity: .8;
}

.text {
  font-size: 14px;
  color: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

p > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

p > a:hover {
  color: #000;
}

p > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

p > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.logo a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.logo a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.logo a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}